
    <div class="form-group">
        <label class="control-label col-md-1 col-lg-1">C:</label>
        <div class="input-group col-md-10  col-lg-10">
            <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="after" is-open="isAfterOpen"
                 close-text="Применить" current-text="Сегодня" clear-text="Сбросить"  />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openAfter($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-1 col-lg-1">По:</label>
        <div class="input-group  col-md-10  col-lg-10">
            <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="before" is-open="isBeforeOpen"
                   close-text="Применить" current-text="Сегодня" clear-text="Сбросить" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openBefore($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>




